

/* 상단메뉴 */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 3;
}




.header-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    /* max-width: 1070px; */
    position: relative;
}

.header-title {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-bg {
    background-color: #fff;
}

.header-title a svg path {
    fill: #fff;
}

.header-color a svg path {
    fill: #5edfdf;
}

.header-title a{
    display: block;
    padding: 20px 22px;
}

.header-menu {
    width: auto;
    height: auto;
}

.header-nav {
    padding-bottom: 12px;
    transition: 0.5s;
}

.header-nav-list {
    display: flex;
    text-align: center;
}

.header-nav-item {
    padding: 0 10px;
}

.header-nav-item-link{
    display: block;
    padding: 24px 12px;
}

.header-nav-item-link-text {
    font-size: 18px;
    position: relative;
    color: #fff;
    line-height: 20px;
    letter-spacing: -1px;
}

.main-visual {
    pointer-events: none;
}


.top-contents {
    height: 100vh;
}

.top-contents-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.top-contents-video-container {
    height: 100%;
    width: 100%;
}

.top-contents-video-container-video {
    width: 400vw;
    left: -150vw;
    height: 120vh;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.top-contents-video-container-img {
    background: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/main.jpg')center center / cover no-repeat;
    height: 100%;
    width: 100%;
    
}

.top-contents-video-container-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: inset;
}

.header-btn {
    display: none;
}

.header-nav-item-link-text.selected::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -2px;
    right: -2px;
    height: 2px;
    background-color: #fff;
}

.header-nav-item-link-text:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -2px;
    right: -2px;
    height: 2px;
    background-color: #fff;
}

.top-contents-main {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.top-contents-1 {}

.top-contents-title {
    color: #fff;
    font-size: 85px;
    line-height: 150%;
    letter-spacing: -2px;
}

.top-contents-desc {
    color: #fff;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
}

.top-contents-back {
    width: 100%;
    height: 120vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.top-contents-sub {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.selected {
    font-weight: 700;
}

/* 스크롤 구간 끝나고 헤더 부분 */
.header-nomal {
    background-color: #fff;
}

.header-nomal .header-title a svg path {
    fill: #5edfdf;
}
.header-nomal .header-nav-item-link-text {
    color: black;
}
.header-nomal .header-nav-item-link-text.selected{
    color: #5edfdf;
}
.header-nomal .header-nav-item-link-text.selected::after {
    background-color: #5edfdf;
}



/* product-info */
.product-info {

}

.info-inner {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
}

.info-inner .info-title {
    color: #212529;
    font-size: 52px;
    line-height: 1.35;
    letter-spacing: -2.89px;
    text-align: left;
    padding-left: 60px;
    margin: 0 auto;
}

.info-inner .info-desc {
    color: #212529;
    padding-top: 30px;
    margin-top: 0;
    font-size: 18px;
    line-height: 1.61;
    letter-spacing: -1px;
    text-align: left;
    padding-left: 60px;
    /* min-width: 1070px; */
    margin: 0 auto;
    
}

.info-inner .info-content {
    position: relative;
    margin-top: 80px;
    /* width: 100vw; */
}

.info-inner .info-counting-list {
    padding: 50px 0;
    height: 600px;
}

.info-inner .info-counting-item {
    /* border: 1px solid red; */

    padding: 50px;
}

.info-counting-item .counting-index {
    display: none;
    transition: 0.5s;
}

.counting-title .counting-text {
    color : #c8c8c8;
    margin-left: 45px;
    transition: 0.5s;
}
.counting-title .counting-icon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    border: 1px solid#c8c8c8;
    z-index: -1;
    transition: 0.8s
}
.info-content .info-image {
    position: absolute;
    top: 0;
    left: 280px;
    z-index: -2;
    width: 100%;
    height: 100%;
}

@keyframes slideup {
    0% {
        opacity: 0;
        margin-top: 30px;

    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.info-content .info-image.img1 {
    background-image: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/product-ranking/this-hwahae02.jpg');
    background-size: cover;
    border-radius: 280px;
    transition: 1s;
    opacity: 0;
    top: -10px;
}
.info-content .info-image.img2 {
    background-image: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/product-ranking/this-hwahae03.jpg');
    background-size: cover;
    border-radius: 280px;
    transition: 1s;
    opacity: 0;
    top: -10px;
}
.info-content .info-image.img3 {
    opacity: 1;
    transition: 1s;
    top: 0;
}


.info-counting-item.selected .counting-title .counting-text{
    /* border: 1px solid red; */
    
    padding: 0;
    color: black;
    transition: 0.5s;
    font-size: 18px;
}

.info-counting-item.selected .counting-icon{
    width: 220Px;
    height: 220px;
    transform: translate3d(-48px, -67px, 0px);
    background-color: #5edfdf; 
    transition: 0.5s;
}

.info-counting-item.selected .counting-index {
    display: block;
    font-size: 100px;
    transition: 0.5s;
    padding-left: 10px;
    color: #212529;
}




