.product-wrap {
    padding-bottom: 130px;
}

/* 상단메뉴 */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
}




.header-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1070px;
    position: relative;
}

.header-title {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-bg {
    background-color: #fff;
}

.header-title a svg path {
    fill: #fff;
}

.header-color a svg path {
    fill: #5edfdf;
}

.header-title a{
    display: block;
    padding: 20px 22px;
}

.header-menu {
    width: auto;
    height: auto;
}

.header-nav {
    padding-bottom: 12px;
    transition: 0.5s;
}

.header-nav-list {
    display: flex;
    text-align: center;
}

.header-nav-item {
    padding: 0 10px;
}

.header-nav-item-link{
    display: block;
    padding: 24px 12px;
}

.header-nav-item-link-text {
    font-size: 18px;
    position: relative;
    color: #fff;
    line-height: 20px;
    letter-spacing: -1px;
}

.main-visual {
    pointer-events: none;
}


.top-contents {
    height: 100vh;
}

.top-contents-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.top-contents-video-container {
    height: 100%;
    width: 100%;
}

.top-contents-video-container-video {
    width: 400vw;
    left: -150vw;
    height: 120vh;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.top-contents-video-container-img {
    background: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/main.jpg')center center / cover no-repeat;
    height: 100%;
    width: 100%;
    
}

.top-contents-video-container-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: inset;
}

.header-btn {
    display: none;
}

.header-nav-item-link-text.selected::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -2px;
    right: -2px;
    height: 2px;
    background-color: #fff;
}

.header-nav-item-link-text:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -2px;
    right: -2px;
    height: 2px;
    background-color: #fff;
}

.top-contents-main {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.top-contents-1 {}

.top-contents-title {
    color: #fff;
    font-size: 85px;
    line-height: 150%;
    letter-spacing: -2px;
}

.top-contents-desc {
    color: #fff;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
}

.top-contents-back {
    width: 100%;
    height: 120vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.top-contents-sub {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.selected {
    font-weight: 700;
}

/* 스크롤 구간 끝나고 헤더 부분 */
.header-nomal {
    background-color: #fff;
}

.header-nomal .header-title a svg path {
    fill: #5edfdf;
}
.header-nomal .header-nav-item-link-text {
    color: black;
}
.header-nomal .header-nav-item-link-text.selected{
    color: #5edfdf;
}
.header-nomal .header-nav-item-link-text.selected::after {
    background-color: #5edfdf;
}



/* product-info */
.product-info {
    /* border: 4px solid red; */
}

.info-inner {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
}

.info-inner .info-title {
    color: #212529;
    font-size: 52px;
    line-height: 1.35;
    letter-spacing: -2.89px;
    text-align: left;
    padding-left: 60px;
    margin: 0 auto;
}

.info-inner .info-desc {
    color: #212529;
    padding-top: 30px;
    margin-top: 0;
    font-size: 18px;
    line-height: 1.61;
    letter-spacing: -1px;
    text-align: left;
    padding-left: 60px;
    /* min-width: 1070px; */
    margin: 0 auto;
    
}

.info-inner .info-content {
    position: relative;
    margin-top: 80px;
    /* width: 100vw; */
}

.info-inner .info-counting-list {
    padding: 50px 0;
    height: 600px;
}

.info-inner .info-counting-item {
    /* border: 1px solid red; */

    padding: 50px;
}

.info-counting-item .counting-index {
    display: none;
    transition: 0.5s;
}

.counting-title .counting-text {
    color : #c8c8c8;
    margin-left: 45px;
    transition: 0.5s;
}
.counting-title .counting-icon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    border: 1px solid#c8c8c8;
    z-index: -1;
    transition: 0.8s
}
.info-content .info-image {
    position: absolute;
    top: 0;
    left: 280px;
    z-index: -2;
    width: 100%;
    height: 100%;
    animation: slideup 0.5s;
}




@keyframes slideup {
    0% {
        opacity: 0;
        transform: translate3d(0, 5%, 0);

    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.info-content .info-image.img1 {
    background-image: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/product-ranking/this-hwahae02.jpg');
    background-size: cover;
    border-radius: 280px;
    transition: 1s;
    opacity: 1;
}
.info-content .info-image.img2 {
    background-image: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/product-ranking/this-hwahae03.jpg');
    background-size: cover;
    border-radius: 280px;
    transition: 1s;
    opacity: 1;
}
.info-content .info-image.img3 {
    opacity: 1;
    transition: 1s;
    top: 0;
}


.info-counting-item.selected .counting-title .counting-text{
    /* border: 1px solid red; */
    
    padding: 0;
    color: black;
    transition: 0.5s;
    font-size: 18px;
}

.info-counting-item.selected .counting-icon{
    width: 220Px;
    height: 220px;
    transform: translate3d(-48px, -67px, 0px);
    background-color: #5edfdf; 
    transition: 0.5s;
}

.info-counting-item.selected .counting-index {
    display: block;
    font-size: 40px;
    transition: 0.5s;
    padding-left: 10px;
    color: #212529;
}


/* @@@@@@@@@@@@@@@ */
/* PRODUCT REVIEW */
/* @@@@@@@@@@@@@@@ */

.product-review {

    position: relative;
    max-width: 1070px;
    margin: 0 auto;
    padding: 310px 0 210px;
}

.review-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 100px;
}

.review-inner .review-card-section {
    min-width: 360px;
    height: 680px;
    margin: 0 !important;
    width: 250px;
}

.review-card-section .review-card-viewport {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    height: 100%;

    box-shadow: 0 30px 60px 12px rgb(0 0 33 / 5%), 0 4px 24px 0 rgb(0 0 33 / 5%), 0 0 1px 0 rgb(0 0 33 / 5%);
}
.review-card-section .review-card-wrap {
    width: 100%;
    transition: 1s;
    white-space: nowrap;
}

.review-card-section .review-card-inner {
    display: inline-block;
}

.review-card-section .review-card-video {
    /* width: inherit; */
    width: 100%;
}

video {
    object-fit: contain;
}
.review-tag-section {
    width: 500px;
    padding-right: 70px;
}

.review-tag-section .review-title {
    font-size: 52px;
    padding: 50px 0 0;
    line-height: 70px;
    text-align: left;
    margin: 0 auto;
    max-width: 1070px;
}

.review-tag-section .review-desc {
    font-size: 18px;
    padding: 30px 0 0;
    max-width: 1070px;
    margin: 0 auto;
    text-align: left;
}

.review-tag-section .review-tag-viewport {
    overflow: visible;
}
.review-tag-section .review-tag-area {
    width: 100%;
    padding-top: 40px;
    margin-left: -19px;
    text-align: left;
    display: block;
    position: static;
    margin: 0 auto;
    max-width: 580px;
}

.review-tag-section .review-tag-list {
    display: flex;
    position: relative;
    margin-top: 20px;
    justify-content: space-between;
}

.review-tag-section .review-tag-indicator {
    position: absolute;
    top: 1px;
    display: block;
    height: 50px;
    background: #22d3d6;
    border-radius: 30px;

    transition: 1s;
}

.review-tag-list .review-tag.tag-selected {
    color: #fff;
    transition: 1.5s;
}
/* 1,3,4 */
/* 1-1 */
.review-tag-list .review-tag-indicator.first-line-first {
    transition: 1s;
    transform: translate3d(-10px, 0, 0); 
    width: 85px;
}
/* 1-2 */
.review-tag-list .review-tag-indicator.first-line-second {
    transition: 1s;
    transform: translate3d(80px, 0, 0);
    width: 165px;
}
/* 1-3 */
.review-tag-list .review-tag-indicator.first-line-third {
    transition: 1s;
    transform: translate3d(255px, 0, 0);
    width: 85px;
}
/* 1-4 */
.review-tag-list .review-tag-indicator.first-line-fourth {
    transition: 1s;
    transform: translate3d(345px, 0, 0);
    width: 100px;
}

/* 3,4,2 */
.review-tag-list .review-tag-indicator.second-line-third {
    transition: 1s;
    transform: translate3d(225px, 0, 0); 
    width: 100px;
}

.review-tag-list .review-tag-indicator.second-line-fourth {
    transition: 1s;
    transform: translate3d(325px, 0, 0); 
    width: 115px;
}
.review-tag-list .review-tag-indicator.second-line-second {
    transition: 1s;
    transform: translate3d(110px, 0, 0); 
    width: 115px;
}

/* 1, 3, 2 */
.review-tag-list .review-tag-indicator.third-line-first {
    transition: 1s;
    transform: translate3d(-10px, 0, 0); 
    width: 145px;
}

.review-tag-list .review-tag-indicator.third-line-third {
    transition: 1s;
    transform: translate3d(257px, 0, 0); 
    width: 100px;
}
.review-tag-list .review-tag-indicator.third-line-second {
    transition: 1s;
    transform: translate3d(140px, 0, 0); 
    width: 115px;
}




.review-tag-section .review-tag {
    position: relative;
    height: 50px;
    margin-top: 0;
    font-size: 34px;
    line-height: 51px;
    color: #c8c8c8;
}


.product-shopping {
    height: 1000px;
    background-color: #51ced3;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.product-shopping .shopping-title {
    text-align: center;
    width: 100%;
    font-size: 52px;
    line-height: 70px;
    color: #fff;

    /* 임시 */
    /* border: 1px solid red; */
}
.product-shopping .shopping-inner {
    width: 100%;
    /* 임시 */
    /* border: 1px solid blue; */
    /* height: 700px; */

}

.shopping-inner .shopping-controller {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.shopping-controller .controller-link {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    opacity: 70%;
    font-weight: 600;
    /* transition: 1s; */
}

.shopping-controller .controller-link:hover {
    cursor: pointer;
}

.shopping-controller .controller-link.controller-link-selected {
    border: 1.5px solid #fff;
    color: #fff;
    opacity: 1;
    font-weight: 700;
    /* transition: 1s; */
}

.shopping-inner .shopping-viewport {
    margin-top: 25px;
    display: flex;
    overflow: hidden;
}


.shopping-viewport .shopping-viewport-inner {
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */

    /* height: 100px; */
}

.shopping-viewport-inner .shopping-viewport-title {
    margin-top: 7px;
    font-size: 18px;
    color: #fff;
}

.shopping-viewport-inner .shopping-thumb-wrap {
    
    width: 360px;
    height: 507px;
    margin-top: 55px;
    display: flex;
    position: relative;
    margin: 0 auto;
}
.shopping-thumb-wrap .shopping-thumb-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 55px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 30px 60px 12px rgb(0 0 33 / 5%), 0 4px 24px 0 rgb(0 0 33 / 5%), 0 0 1px 0 rgb(0 0 33 / 5%);
    
}

.shopping-thumb-section .shopping-thumb{
    min-width: 100%;
    display: inline-flex;
    text-align: center;
}
.shopping-thumb-section .shopping-thumb.thumb-img1{
    transform: none;
    transition: 1s;
}
.shopping-thumb-section .shopping-thumb.thumb-img2{
    transform: translate3d(-100%, 0, 0);
    transition: 1s;
}
.shopping-thumb-section .shopping-thumb.thumb-img3{
    transform: translate3d(-200%, 0, 0);
    transition: 1s;
}

.shopping-thumb-inner {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.shopping-thumb-inner.shopping-thumb-img1 {
    background-image: url("https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/home/buy-01.jpg");
}
.shopping-thumb-inner.shopping-thumb-img2 {
    background-image: url("https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/home/buy-02.jpg");
}
.shopping-thumb-inner.shopping-thumb-img3 {
    background-image: url("https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/home/buy-03.jpg");
}


/* *************** */
/* *** RANKING *** */
/* *************** */

.product-ranking {
    display: flex;
    align-items: center;
    /* max-width: 1240; */
    margin: 0 auto;
    padding-top: 250px;


    
    /* 임시 */
    /* border: 1px solid red; */
    /* width: 100vw; */
    /* height: 50vh; */
}

.product-ranking .rang-hgroup {
    width: 39%;
    overflow: hidden;
    padding-left: 110px;

    /* 임시 */
    /* border: 1px solid black; */
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.rang-hgroup .ranking-title  {
    font-size: 52px;
    transition: 2s;
}

.rang-hgroup .ranking-inner {
    padding-top: 30px;
    font-size: 18px;
    transition: 2s;
}



.product-ranking .rank-inner {
    width: 61%;


    height: 100%;
}

.rank-inner .rank-tab{
    /* margin-top: 50px; */
}

.ranking-tab .category-list {
    display: flex;
    justify-content: center;
    padding-left: 110px;
}
.category-list .category-item {
    padding-right: 10px;
}
.category-item .category-link {
    width: 60px;
    height: 60px;
    background-size: cover;
    opacity: 0.3;
    border: 1px solid #999;
    border-radius: 100%;
    line-height: 58px;
    transition: 1s;
}
.category-link .category-txt {
    opacity: 0;
}
.category-selected .category-txt {
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
    transition: 1s;
}

.category-item .category-link.category-selected {
    padding: 0 30px 0 66px;
    width: auto;
    background-color: #22d3d6;
    opacity: 1;
    border: 0;
    padding: 0 30px 0 66px;
    background-position: 7px 50%;
    letter-spacing: -0.94px;
    border-radius: 30px;
    background-size: 60px;
    background-repeat: no-repeat;
    transition: 1s;
}

.category-item .category-link.category-btn-img1 {
    background-image: url(https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/rank_cate01.png);
}

.category-item .category-link.category-btn-img2 {
    background-image: url(https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/rank_cate02.png);
}

.category-item .category-link.category-btn-img3 {
    background-image: url(https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/rank_cate03.png);
}
.category-item .category-link.category-btn-img4 {
    background-image: url(https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/rank_cate04.png);
}
.category-item .category-link.category-btn-img5 {
    background-image: url(https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/rank_cate05.png);
}
.category-item .category-link.category-btn-img6 {
    background-image: url(https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/rank_cate06.png);
}

.ranking-tab .ranking-contents {

}



.ranking-viewport .ranking-list {
    padding: 0 10px 80px 56px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.ranking-list .ranking-item {
    width: 400px;
    height: 100px;
    margin-top: 50px;
    transition: 1s;
    /* transform: translate3d(0, 0, 0); */
}

.ranking-list .ranking-item.slideLeft{
    transform: translate3d(0, 0, 0);
    transition: 1s;
    /* animation: slideLeft 1s; */
}

@keyframes slideLeft {
    0% {
        transform: translate3d(50px, 0, 0);

    }
    100% {
        transform: translate3d(50px, 0, 0);
    }
}


.ranking-item .ranking-link {
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 30px 60px 12px rgb(0 0 33 / 5%), 0 4px 24px 0 rgb(0 0 33 / 5%), 0 0 1px 0 rgb(0 0 33 / 5%);
    display: flex;
    align-items: center;
}

.ranking-link .ranking-img {
    border-radius: 30px;
    width: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 0px 0px;
    display: inline-block;
}

.ranking-link .ranking-img.ranking-image1 {
    background-image: url('https://www.hwahae.co.kr/images/product-ranking/babyImage1.jpg');
}

.ranking-link .ranking-img.ranking-image2 {
    background-image: url('https://www.hwahae.co.kr/images/product-ranking/babyImage2.jpg');
}

.ranking-link .ranking-img.ranking-image3 {
    background-image: url('https://www.hwahae.co.kr/images/product-ranking/babyImage3.jpg');
}

.ranking-link .ranking-inner {
    display: inline-block;
}    


.ranking-animate {

}



/* ***************** */
/* product-contents */
/* ***************** */

.product-contents {
    position: relative;

    /* border: 1px solid red; */
    /* width: 100vw; */
    /* height: 100vw; */
}

.product-contents::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: 540px;
    width: 100vw;
    height: 1px;
    background: #e3e3e3;
}

.product-contents .contents-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.contents-inner .contents-slides {
    position: relative;
    z-index: 3;
    width: 40%;
    padding: 290px 0 370px 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents-slides .contents-slides-item {
    background-size: cover;
    border-radius: 30px;
    transition: 1s;
    width: 360px;
    height: 680px;
    
}

.contents-slides-item.contents-item-img1 {
    background-image: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/home/product-contents-slide-01.jpg');
}

.contents-slides-item.contents-item-img2 {
    background-image: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/home/product-contents-slide-02.jpg');
}

.contents-slides-item.contents-item-img3 {
    background-image: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/public/images/home/product-contents-slide-03.jpg');
}


.contents-inner .contents-hgroup {
    width: 45%;
    padding-bottom: 335px;
    padding-right: 0;


    /* border: 1px solid red; */
    /* height: 100px; */
}

.contents-hgroup .contents-title {
        font-size: 52px;
        text-align: left;
        line-height: 70px;
        max-width: 1070px;
}

.contents-hgroup .contents-desc {
    max-width: 1070px;
    text-align: left;
    font-size: 18px;
    line-height: 29px;
    padding-top: 30px;
}

.contents-inner .contents-list-area {

    position: absolute;
    width: 60%;
    height: 250px;
    /* border: 1px solid red; */
    top: 51.5%;
    left: 45%;
    
    
}

.contents-list-area .contents-list {

    display: flex;
    position: relative;
    height: 100%;
    justify-content: space-around;
    padding: 0px 25px 25px 0px;   
}
.contents-list .contents-item {
    
    
}

.contents-item .contents-img {
    border-radius: 50%;
    width: 210px;
    height: 210px;
}

.product-discovery {
    display: flex;
    position: relative;
    height: 410px;
    margin-top: 95px;
    margin-bottom: -100px;
    padding: 0;

    /*  */
    /* border: 1px solid red; */
}

.product-discovery .discovery-inner {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.discovery-inner .discovery-title {
    padding-left: 60px;
    text-align: left;
    font-size: 52px;
    line-height: 70px;
    letter-spacing: -2.9px;
}

.discovery-inner .discovery-desc {
    padding-left: 60px;
    padding-top: 30px;
    font-size: 18px;
    line-height: 29px;
}

.product-discovery .discovery-video {
    position: absolute;
    top: -100px;
    display: flex;

    width: 100%;
    height: 410px;
    padding-left: 50%;
    /* border: 1px solid blue; */
}

.product-discovery .discovery-video video{
    /* position: static; */
    /* height: 410px; */
    /* left: 135px; */
}


.footer {
    padding: 75px 20px;
    background: #f4f8f8;
    /* background: red; */

}

.footer .footer-inner {
    position: relative;
    max-width: 1070px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.footer-inner .footer-logo {
    font-size: 14px;
    /* border: 1px solid #000; */
    width: 110px;
    height: 13px;
    background: url('https://hwahae-homepage.s3.ap-northeast-2.amazonaws.com/images/ftr_logo.png') no-repeat 0 0; 
    background-size: cover;
}

.footer-inner .footer-address {
    margin-top: 27px;
    display: flex;
    font-family: Spoqa Han Sans;
}

.footer-address address {

    /* border: 1px solid red; */
}

.footer-address .footer-address-desc {
    /* padding-bottom: -0.5px; */
    /* border: 1px solid #000; */
    
}

.footer-address .footer-address-desc::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 20px;
    background: #c9cccc;
}

.footer-address .footer-address-txt {
    color: #727777;
    padding-right: 9px;

}

.footer-inner .footer-contents {
    padding-top: 10px;
}

.footer-contents .footer-address-desc {
    
}


.footer-contents .footer-address-txt {
    color: #727777;
    padding-right: 9px;
}

.footer-contents .footer-address-desc::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 20px;
    background: #c9cccc;
}

.footer-address-txt2 {
    color: #212529;
}

.footer-privacy {
    padding-top: 20px;
}