@media all and (max-width: 768px) {

    
    header {
        height: 64px;
    }
    

    .header-inner {
        display: block;
    }

    .header-title {
        position: relative;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    .header-title a{
        padding: 22px;
        width: 100%;
    }

    .header-title a svg{
        width: 48px;
        height: 24px;
    }

    .header-nav {
        padding-bottom: 12px;
        background-color: #fff;
    }

    .header-nav-list {
        text-align: start;
        display: block;
    }
    .header-nav-item-link{
        padding: 13px 30px;
    }
    
    .header-nav-item {
        padding: 0;
    }

    .header-nav-item-link-text {
        color: #222;
        font-weight: 400;
    }

    .selected {
        color: #5edfdf;
        font-weight: bold;
    }


    .header-menu {
        opacity: 0;
        position: relative;
        top: -290px;
        transition: 0.5s;
    }

    .menu-open {
        opacity: 1;
        top: 0%;
        
    }


    
    .header-btn {
        display: block;
        box-sizing: content-box;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 24px;
        height: 24px;
        padding: 20px 16px;
    }

    .header-btn path{
        fill: #fff;
    }

    .header-btn.nomal svg path {
        fill: #222;
    }

    .header-btn-open svg path{
        fill: #222;
    }

    .header-btn :nth-child(2) {
        display: none;
    }

    .header-btn-open :nth-child(1) {
        display: none;
    }
    
    .header-btn-open :nth-child(2),
    .header-btn-open :nth-child(2) path {
        fill: #222;
        display: block;
        
    }

    .top-contents-video-container-video {
        display: none;
    }

    .top-contents-title {
        font-size: 54px;
        letter-spacing: -3px;
        line-height: 68px;
    }

    .top-contents-desc {
        font-size: 19px;
        padding-top: 20px;
    }



    /* product-info */
    .info-inner {
        max-width: none;
    }
    .info-inner .info-title {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -1;
        text-align: center;
        padding: 0;
    }

    .info-inner .info-desc {
        margin-top: 19px;
        text-align: center;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 0;
        max-width: none;
        min-width: 0;
    }


    .counting-title .counting-icon {
        border: 4px solid#c8c8c8;
    }


    .info-counting-item.selected .counting-icon{
        width: 200px;
        height: 200px;
        transform: translate3d(-111px, -40px, 0px);
        border: 0px;
    }

    .info-content .info-image.img1 {
        border-radius: 0;
        border-top-left-radius: 600px;
        border-bottom-left-radius: 600px;
    }
    .info-content .info-image.img2 {
        border-radius: 0;
        border-top-left-radius: 600px;
        border-bottom-left-radius: 600px;
    }

    .info-content .info-image {
        width: 50%;
        height: 100%;
        left: 50%;
        top: 50%;
    }

    .info-counting-item.selected .counting-index {
        font-size: 50px;
    }

    

}